/LCBsim.db_info
/LCBsim.root_partition.cmp.ammdb
/LCBsim.root_partition.cmp.cdb
/LCBsim.root_partition.cmp.dfp
/LCBsim.root_partition.cmp.hdb
/LCBsim.root_partition.cmp.logdb
/LCBsim.root_partition.cmp.rcfdb
/LCBsim.root_partition.map.cdb
/LCBsim.root_partition.map.dpi
/LCBsim.root_partition.map.hbdb.cdb
/LCBsim.root_partition.map.hbdb.hb_info
/LCBsim.root_partition.map.hbdb.hdb
/LCBsim.root_partition.map.hbdb.sig
/LCBsim.root_partition.map.hdb
/LCBsim.root_partition.map.kpt
